.stats {
  position: relative;
}

.statColumn {
  h4 {
    display: flex;
    align-items: center;

    margin-bottom: 2.4rem;
    span {
      font-size: var(--text-md);
      font-weight: bold;
      position: relative;
      margin-left: 0.8rem;
    }
  }
}

.statGrid {
  display: grid;
  grid-template-columns: 1fr; /* 一行一个 */
  gap: 16px;
  width: 100%;
  max-width: 420px;           /* 你想统一的宽度，自己调 */
  margin-bottom: 28px;
}